button{
  text-wrap: nowrap;
}

p{
  font-size: 14px;
  font-style: italic;
}
label{
  font-size: 16px;
}
input#CloseBooked {
  height: 25px;
  width: 56px;
  margin-left: 10px; 
}
input#flexSwitchCheckDefault {
  width: 56px;
  height: 23px;
  margin-left: 10px;
}
.form-check.form-switch {
  border-left: 1px solid #b8adad;
}


::ng-deep .customClass{
 
  .bs-datepicker-head{
      background-color: transparent !important;
      button.current{
          color: black !important;
      }
      button.previous, .next{
          color: black !important;
      }
  }
}


// ::ng-deep .ng-select-focused{
//   border: 1px solid #0284C7;
//   box-shadow: rgba(2, 132, 199, 0.1) 0px 0px 0px 3px !important;

// }