<div class="main-wrapper mt-5" [formGroup]="settingForm">
  <div class="row">
    <div class="container-fluid">
      <div class="col-md-12 bg-white p-5 rounded mt-3 mt-md-0">
        <!-- <div class="d-flex">
          <button class="primary_button" (click)="resetData()">Reset Data</button>
          <div class="p-2 text-danger">It will delete all data related to the accounting module</div>
        </div>
        <hr>
        <div class="d-flex">
          <button class="primary_button" (click)="removeInvalidEntries()">Remove Invalid Entries</button>
          <div class="p-2 text-danger">Will delete entries for which the transaction no longer exists</div>
        </div>
        <hr> -->

        <div class="row">
          <div class="col-md-6">
            <h3>Accounting</h3>

            <label class="d-flex mb-1">First month of financial year
              <span class="ms-2"><i class="fa-solid fa-circle-question"></i></span>
            </label>
            <ng-select class="custom-select mb-3 rounded" formControlName="month_of_financial_year">
              <ng-option *ngFor="let month of months" [value]="month">{{ month }}</ng-option>
            </ng-select>

            <label class="d-flex mb-1">First month of tax year</label>
            <ng-select class="custom-select mb-3 rounded" formControlName="month_of_tax_year">
              <ng-option *ngFor="let month of months" [value]="month">{{ month }}</ng-option>
            </ng-select>

            <label class="d-flex mb-1">Accounting method
              <span class="ms-2"><i class="fa-solid fa-circle-question"></i></span>
            </label>
            <ng-select class="custom-select rounded" formControlName="accounting_method">
              <ng-option value="accrual">Accrual</ng-option>
              <ng-option value="cash">Cash</ng-option>
            </ng-select>

            <p>- When you use the cash method in reports:</p>
            <p>+ Your report counts income or expenses as though they happened when you got the payment or paid the bill.</p>
            <p>+ If you sent an invoice or got a bill but the money hasn’t changed hands yet, your report doesn’t include it in your income or expenses.</p>

            <div class="d-flex gap-5">
              <label class="d-flex">Close the books
                <span class="ms-2"><i class="fa-solid fa-circle-question"></i></span>
              </label>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="CloseBooked" formControlName="close_book" >
                <label class="form-check-label" for="CloseBooked"></label>
              </div>
            </div>

            <div *ngIf="settingForm.get('close_book')?.value">
              <label><span class="text-danger fs-4">*</span> Closing date</label>
              <div class="input-group w-auto mt-2">
                <input type="text" bsDatepicker placeholder="Datepicker" class="form-control customClass" formControlName="close_book_date">
                <div class="input-group-append">
                  <span class="input-group-text" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H1a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                    </svg>
                  </span>
                </div>
              </div>
              <!-- <ng-select class="custom-select mt-3 rounded">
                <ng-option selected>Allow changes after viewing a warning</ng-option>
              </ng-select> -->
            </div>
          </div>

          <!-- <div class="col-md-6">
            <h3>Chart of Accounts</h3>
            <div class="d-flex">
              <label class="d-flex">Enable account numbers
                <span class="mx-2"><i class="fa-solid fa-circle-question"></i></span>
              </label>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"  >
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
              </div>
            </div>
            <div class="d-flex mx-5" *ngIf="settingForm.get('isAccountNumbersEnabled')?.value">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox1" >
                <label class="form-check-label" for="checkbox1">
                  Show account numbers
                  <span><i class="fa-solid fa-circle-question"></i></span>
                </label>
              </div>
            </div>
          </div> -->
        </div>

        <hr>
        <div class="d-flex justify-content-end">
          <button *ngIf="!update" class="primary_button" (click)="submitForm()">Save</button>
          <button *ngIf="update" class="primary_button" (click)="submitForm()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
