
<div class="container-fluid p-5">
  <div class="d-flex">
    <button class="primary_button"> Reset Data</button>
    <div class="p-2 text-danger">it will delete all data related to the accounting module</div>
  </div>
  <hr>
  <div class="d-flex">
    <button class="primary_button"> Remove Invalid entries</button>
    <div class="p-2 text-danger">will delete entries for which the transaction no longer exist</div>
  </div>
  <hr>

  <div class="row">

     <div class="col-md-6">
      <div><h3>Accounting</h3></div>

      <label class="d-flex mb-1">First month of financial year
        <span class="ms-2"><i class="fa-solid fa-circle-question"></i></span>
      </label>

      <div class="custom-select mb-3">
        <ng-select class=" p-2 rounded ">
          <ng-option selected >January</ng-option>
          <ng-option value="1">February </ng-option>
          <ng-option value="2">March</ng-option>
          <ng-option value="3">April</ng-option>
        </ng-select>
      </div>
      <div class="custom-select mb-3">
        <label class="d-flex mb-1">First month of tax year

        </label>
        <ng-select class=" p-2 rounded ">
          <ng-option selected>January</ng-option>
          <ng-option value="1">February </ng-option>
          <ng-option value="2">March</ng-option>
          <ng-option value="3">April</ng-option>
        </ng-select>
      </div>

      <div class="custom-select mb-3">
        <label class="d-flex mb-1">Accounting method
          <span class="ms-2"><i class="fa-solid fa-circle-question"></i></span>
        </label>
        <ng-select class=" p-2 rounded ">
          <ng-option selected>Accrual</ng-option>
          <ng-option value="1">cash </ng-option>
        </ng-select>
      </div>

      <div class="">
       <p> -  When you use the cash method in reports:</p>
      </div>
      <div>
       <p> + Your report counts income or expenses as though they happened when you got the payment or paid the bill</p>
      </div>
      <div>
      <p> +  If you sent an invoice or got a bill but the money hasn’t changed hands yet, your report doesn’t include it in your income or expenses </p>
      </div>

     <div class="d-flex gap-5">
      <label class="d-flex ">Close the books
        <span class="ms-2"><i class="fa-solid fa-circle-question"></i></span>
      </label>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="CloseBooked" [(ngModel)]="isCloseBooked">
        <label class="form-check-label" for="flexSwitchCheckDefault">
        </label>
      </div>
     </div>

      <div *ngIf="isCloseBooked">
        <label><span class="text-danger fs-4">*</span> Closing date</label>
        <div class="">
          <label for="">From date</label>
          <div class="input-group w-auto mt-2">
            <input type="text" placeholder="Datepicker" class="form-control box customClass" bsDatepicker
              id="datepickerInput">
            <div class="input-group-append">
              <span class="input-group-text" (click)="openDatepicker()">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="30" fill="currentColor" class="bi bi-calendar"
                  viewBox="0 0 16 16">
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H1a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="">
        <ng-select class="custom-select p-2 rounded ">
          <ng-option selected>Allow changes after viewing a warning</ng-option>
        </ng-select>
      </div>
    </div>

     </div>



   <!-- partition -->
     <div class="col-md-6">
      <div class="mx-3"><h3>Chart of Accounts</h3></div>
     <div class="d-flex gap-5 mx-3">
      <label class="d-flex ">  Enable account numbers
        <span class="mx-2"><i class="fa-solid fa-circle-question"></i></span>
      </label>

     <div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isSwitchChecked">
        <label class="form-check-label" for="flexSwitchCheckDefault">

        </label>
      </div>
    </div>
    </div>
     <div class="d-flex mx-5">
      <div class="form-check" *ngIf="isSwitchChecked">
        <input class="form-check-input" type="checkbox" id="checkbox1">
        <label class="form-check-label" for="checkbox1">
          Show account numbers
          <span ><i class="fa-solid fa-circle-question"></i></span>
        </label>
      </div>
    </div>

     </div>

  </div>
    <hr>
    <div class="d-flex justify-content-end">
      <button class="primary_button">
        save
      </button>
    </div>
</div>
