<div class="border border-1 pt-1 mt-2">
  <div class="p-3">
    <div>Manufacturing order</div>
    <div class="d-flex col-3 justify-content-between mb-3">
      <div>
        Sales
      </div>
      <div>
        <div class="form-check form-switch border-start ">
          <input class="form-check-input " type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isPaymentChecked">
          <label class="form-check-label" for="flexSwitchCheckDefault">

          </label>
        </div>
      </div>
    </div>
    <div *ngIf="isPaymentChecked">
      <div class=" row mb-2">
        <div class="col-6">
          <label>Payment account</label>
          <ng-select class=" ">
            <ng-option >Sales</ng-option>
            <ng-option value="1">Other </ng-option>
            <ng-option value="2">Overhead</ng-option>
            <ng-option value="3">Interest income</ng-option>
          </ng-select>
        </div>
        <div class="col-6">
          <label>Deposit to</label>
          <ng-select class=" ">
            <ng-option >Sales</ng-option>
            <ng-option value="1">Other </ng-option>
            <ng-option value="2">Overhead</ng-option>
            <ng-option value="3">Interest income</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="d-flex col-3 justify-content-between ">
      <div>
        expenses
      </div>
      <div>
        <div class="form-check form-switch border-start ">
          <input class="form-check-input " type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isExpensesChecked">
          <label class="form-check-label" for="flexSwitchCheckDefault">

          </label>
        </div>
      </div>
    </div>
    <div *ngIf="isExpensesChecked">
      <div class=" row ">
        <div class="col-6">
          <label>Payment account</label>
          <ng-select class=" ">
            <ng-option >Sales</ng-option>
            <ng-option value="1">Other </ng-option>
            <ng-option value="2">Overhead</ng-option>
            <ng-option value="3">Interest income</ng-option>
          </ng-select>
        </div>
        <div class="col-6">
          <label>Deposit to</label>
          <ng-select class=" ">
            <ng-option >Sales</ng-option>
            <ng-option value="1">Other </ng-option>
            <ng-option value="2">Overhead</ng-option>
            <ng-option value="3">Interest income</ng-option>
          </ng-select>
        </div>
      </div>
    </div>

  </div>


</div>
<div class="d-flex justify-content-end my-2">
  <div class="primary_button">
    Save
  </div>
</div>
