.nav-item{
  cursor: pointer;
  a{
    border: none !important;
    color: #111;
    font-size: 14px;
    font-weight: 600;
  .tab_values{
    color: red !important;
  }
  }

  a:hover{
    color: #0284c7;
  }
}

.active{
  border-bottom: 3px solid #0284c7 !important;
  a{
    color: #0284c7;
    font-weight: 600;
  }
}
