<!-- voucher.component.html -->
<div class="modal-header py-3">
    <h2 class="modal-title  py-2">Create Organization</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">

    <div class="form-container px-2 d-flex justify-content-center flex-column">
        <div class="row mb-2">
            <h2>Glad you're here.</h2>
            <p>Help us customize your settings to offer you the right tools for seamless business experience.</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row justify-content-center">

                        <!-- first-row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <div class="">
                                        <label for="business-name">Business Name <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="">
                                        <input type="text" id="business-name" formControlName="name"
                                            class="form-control  mb-2 ">
                                        <small class="text-danger"
                                            *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
                                            Business Name is required
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <div class="  ">
                                        <label for="industry">Industry <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="">
                                        <input type="text" id="industry" formControlName="industry"
                                            class="form-control  mb-2 ">
                                        <small class="text-danger"
                                            *ngIf="form.controls['industry'].hasError('required') && form.controls['industry'].touched">
                                            Industry Name is required
                                        </small>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- second row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <div class="  ">
                                        <label for="business-type">Business Type <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="">
                                        <input type="text" id="bussiness_type" formControlName="business_type"
                                            class="form-control  mb-2 ">
                                        <small class="text-danger"
                                            *ngIf="form.controls['business_type'].hasError('required') && form.controls['business_type'].touched">
                                            Busines Type is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <div class="  ">
                                        <label for="adminEmail">Admin's email <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="">
                                        <input type="email" id="admin_email" formControlName="admin_email"
                                            placeholder="Enter company file admin's email"
                                            class="form-control  mb-2 ">
                                        <small class="text-danger"
                                            *ngIf="form.controls['admin_email'].hasError('required') && form.controls['admin_email'].touched">
                                            Admin Email is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- third row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <div class=" ">
                                        <label for="ein_number">Employer Identification Number (EIN)</label>
                                    </div>

                                    <div class="">
                                        <input type="text" id="ein_number" formControlName="ein_number"
                                            placeholder="12-3456789" class="form-control  mb-2 ">
                                        <small class="text-danger"
                                            *ngIf="form.controls['ein_number'].hasError('required') && form.controls['ein_number'].touched">
                                            EIN is required
                                        </small>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="   d-flex justify-content-start align-items-center">
                                    <label for="ntn_number">National Tax Number (NTN)</label>
                                </div>
                                <div class="">
                                    <input type="text" id="ntn_number" formControlName="ntn_number"
                                        class="form-control  mb-2 ">
                                    <small class="text-danger"
                                        *ngIf="form.controls['ntn_number'].hasError('required') && form.controls['ntn_number'].touched">
                                        NIN is required
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- fourth row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <div class=" ">
                                        <label for="address">Business Address</label>
                                    </div>

                                    <div class="">
                                        <input type="text" id="address" name="address" formControlName="address"
                                            class="form-control  mb-2 ">
                                        <small class="text-danger"
                                            *ngIf="form.controls['address'].hasError('required') && form.controls['address'].touched">
                                            Business Address is required
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="  ">
                                    <label for="phone"> Phone</label>
                                </div>

                                <div class="">
                                    <input type="text" id="phone" name="phone" formControlName="phone"
                                        class="form-control  mb-2 ">
                                    <small class="text-danger"
                                        *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched">
                                        Phone Number is required
                                    </small>
                                </div>


                            </div>
                        </div>

                        <!-- fifth row -->
                        <div class="row">
                            <div class="col-md-6">

                                <div class="  ">
                                    <label for="domain">Domain</label>
                                </div>

                                <div class="">
                                    <input type="text" id="domain" formControlName="domain" placeholder="domain"
                                        class="form-control  mb-2 ">
                                    <small class="text-danger"
                                        *ngIf="form.controls['domain'].hasError('required') && form.controls['domain'].touched">
                                        Domain is required
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="  d-flex  align-items-center">
                                    <label for="ntnNumber">Country</label>
                                </div>
                                <div class="">
                                    <input type="text" id="country" formControlName="country"
                                        class="form-control  mb-2 ">
                                    <small class="text-danger"
                                        *ngIf="form.controls['country'].hasError('required') && form.controls['country'].touched">
                                        Country Name is required
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- sixth row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="  ">
                                    <label for="city">City</label>
                                </div>
                                <div class="">
                                    <input type="text" id="city" name="city" formControlName="city"
                                        class="form-control mb-3  ">
                                    <small class="text-danger"
                                        *ngIf="form.controls['city'].hasError('required') && form.controls['city'].touched">
                                        City Name is required
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="  ">
                                    <label for="state">State</label>
                                </div>
                                <div class="">
                                    <input type="text" id="state" name="state" formControlName="state"
                                        class="form-control  mb-2 ">
                                    <small class="text-danger"
                                        *ngIf="form.controls['state'].hasError('required') && form.controls['state'].touched">
                                        State Number is required
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- seven-row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class=" ">
                                    <label for="zip">ZIP</label>
                                </div>
                                <div class="">
                                    <input class="form-control" type="text" id="zip" name="zip" formControlName="zip"
                                        class="form-control   ">
                                    <small class="text-danger"
                                        *ngIf="form.controls['zip'].hasError('required') && form.controls['zip'].touched">
                                        Zip Code is required
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons modal-footer d-flex justify-content-end gap-3 mt-4">
                <button type="button" class="btn btn-outline-secondary p-2 btn-light mt-2" (click)="close()">Back</button>
                <button type="submit" class=" btn  p-2 btn-primary  mt-2" *ngIf="!isUpdateData"
                    [disabled]="form.invalid">Create Company</button>
                <button type="submit" class="btn  p-2  btn-primary mt-2" *ngIf="isUpdateData"
                    [disabled]="form.invalid">Update Company</button>
            </div>
        </form>
    </div>
</div>