.header-wrapper {
    height: 72px;
    background: #FFFFFF;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .sidebar-toggle-div, .fullscreen-icon, .settings-icon{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .sidebar-toggle-div:hover, .fullscreen-icon:hover,  .settings-icon:hover{
        background-color: #F2F4F6;
    }
}

.profile_img {
    width: 40px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header_svg {
    width: 20px !important;
    height: 20px !important;
    display: flex;
    align-items: center;
}

.header_svg svg {
    width: 100%;
    height: 100%;
}
.path-line{
    color: #D0DBE5 !important;
}

.rotate_icon {
    transform: rotateY(180deg) !important;
    transition: transform 1s ease;
}

/* Dropdown card */
.card {
    width: 100%;
    max-width: 224px;
    height: 180px !important;
    position: absolute;
    top: 80px;
    right: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    z-index: 1000;
    padding: 24px 24px 14px 24px;
   box-sizing: border-box;
   hr{
    color: #D0DBE5 !important;
   }
}


@media (max-width: 768px) {
    .card {
        max-width: 100%;
         right: auto;
        left: 0;
       transform: none;
       padding: 5px;
      }
}
.text-header {
    letter-spacing: -0.02em;
    color: #425466;
    margin: 0;
}

.text-dark {
    font-weight: 600;
    line-height: 14.4px;
    color: #8492A6 !important;
}

.profile {
    padding: 7px 5px;
    font-weight: 600;
    line-height: 14.4px;
    color: #425466;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
  
}
.profile:hover {
    background-color: #F2F4F6;
}

.danger-btn {
    height: 28px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #EF4444;
    gap: 8px;
}

.search_input{
    input{
        height: 45px !important;
        padding: 6px 10px !important;
        background-color: #fff;
        border-radius: 10px;
        width: 300px;
        border: 1px solid #dcdcdc;
        outline: none !important;
        box-shadow: none !important
    };

    input:focus{
        border-color: #6f63bd !important;
        box-shadow: 0 0 0 0.25rem rgba(111, 97, 207, 0.20) !important;      
    }
    span{
        position: absolute;
        left: 340px;
        top: 24px;
    }
}
.plus_button{
    width: 40px;
    height: 40px;
    background-color: #2563EB;
    border-radius: 50%;
    cursor: pointer;
    span{
        color: #fff;
        font-size: 24px;
    }
}

.dropdown-profile-img{
    border: 1px solid #2563EB;
}
.fullscreen-icon{
    cursor: pointer;
}

@media (max-width: 768px) {
    .danger-btn {
        max-width: 100%;
        padding: 6px 12px;
       }
}
