
// .main-content {
//     padding: 1rem;
//     background-color: #ffff;
//     border: 3px solid transparent;
//     border-radius: 10px;
// }
.account{
    width: 344.33px;
}
.debit-credit{
    width: 206.6px;
}
.description{
    width: 482.06px;
}
.tdbuttons{
    width: 137.75px;
}



.totals-row {
    border-top: none;
  }
  .text-muted {
    color: #6c757d;
  }

  td.text-end.text-muted {
    border: none;
}


