<div class="col-md-12 col-lg-12 mt-5 card">
    <div class="row d-flex align-items-center card-body">
        <div class="text-muted mt-2">Journal Entry</div>
        <div class="row mt-4">
            <div class="col-md-3">
                <label for=""><span class="text-danger mx-1">*</span>Number</label>
                <input type="number" class="form-control mt-2">
            </div>
            <div class="col-md-3">
                <label for=""><span class="text-danger mx-1">*</span>Journal date</label>

                <div class="input-group w-auto mt-2">
                    <input type="text" placeholder="Datepicker" class="form-control customClass" bsDatepicker
                        [bsConfig]="{ isAnimated: true, containerClass: 'customClass' }" id="datepickerInput">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-calendar" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H1a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="accountsSelect" class="form-label">Recurring Journal Entry</label>

                <ng-select
                  [items]="journal"
                  bindLabel="name"
                  bindValue="id"
                  [(ngModel)]="selectedAccounts"
                  [multiple]="true"
                  [groupBy]="'category'"
                  placeholder="None selected"
                  [closeOnSelect]="false"
                  (change)="onSelectionChange($event)">
                  <ng-template ng-option-tmp let-item="item">
                    <div class="custom-option">
                      <i class="fas fa-check custom-icon" *ngIf="selectedAccounts.includes(item.id)"></i>
                      {{ item.name }}
                    </div>
                  </ng-template>
                </ng-select>


              </div>

        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label for="">Reference</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <div class="row mt-3 d-flex justify-content-end" *ngIf="showCustomFields">
                    <div class="col-md-3">
                        <input type="text" id="customField1" class="form-control" [(ngModel)]="customField1">
                    </div>
                      <div class="col-md-3">
                        <ng-select
                        [items]="Schdule"
                        bindLabel="name"
                        bindValue="id"
                        [(ngModel)]="customField2"
                        [multiple]="true"
                        [groupBy]="'category'"
                        placeholder="None selected"
                        [closeOnSelect]="false"
                        >
                    </ng-select>
                      </div>
                  </div>
            </div>
        </div>


        <div class="container table-container mt-5 ">
            <table class="table ">
                <thead class="table-light  ">
                    <tr>
                        <th>Account</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="account">
                            <ng-select [multiple]="true">
                                <ng-option selected>None selected</ng-option>
                                <ng-option value="1">Account 1</ng-option>
                                <ng-option value="2">Account 2</ng-option>
                            </ng-select>
                        </td>
                        <td class="debit-credit">
                            <input type="text" class="form-control" placeholder="Debit">
                        </td>
                        <td class="debit-credit">
                            <input type="text" class="form-control" placeholder="Credit">
                        </td>
                        <td class="description">
                            <input type="text" class="form-control" placeholder="Description">
                        </td>
                        <td class="tdbuttons">
                            <button class="btn btn-success btn-action">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="mt-4">
                        <td class="account">
                            <ng-select [multiple]="true">
                                <ng-option selected>None selected</ng-option>
                                <ng-option value="1">Account 1</ng-option>
                                <ng-option value="2">Account 2</ng-option>
                            </ng-select>
                        </td>
                        <td class="debit-credit">
                            <input type="text" class="form-control" placeholder="Debit">
                        </td>
                        <td class="debit-credit">
                            <input type="text" class="form-control" placeholder="Credit">
                        </td>
                        <td class="description">
                            <input type="text" class="form-control" placeholder="Description">
                        </td>
                        <td class="tdbuttons">
                            <button class="btn btn-danger btn-action">
                                <i class="bi bi-dash-lg"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="container mt-5">
                    <table class="table">
                        <thead class="table-bordered">
                            <tr>
                                <th class="text-end"></th>
                                <th class="text-end text-muted">Debit</th>
                                <th class="text-end text-muted">Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="totals-row">
                                <td class="text-end text-muted">Total: R$0</td>

                                <td class="text-end text-muted">R$0</td>
                                <td class="text-end text-muted">R$0</td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row mt-5 ">
            <div class="card ">
                <quill-editor [(ngModel)]="htmlText" placeholder="Enter Text" [modules]="quillConfig"
                    class="card-body" (onSelectionChanged)="onSelectionChanged($event)"
                    (onContentChanged)="onContentChanged($event)"></quill-editor>
            </div>
            <div class="text-end save-button-container mt-2">
              <button class="btn btn-primary">Save</button>
          </div>

        </div>
    </div>
</div>
