<div class="wrapper bg-white p-4 rounded border">
    <main id="content">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="fw-bold">Dashboard</h2>
                <!-- Dropdown -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
  
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="row">
                        <!-- Bank Accounts -->
                        <div class="col-md-12 mb-3">
                            <div class="card border-0">
                                <app-bank-account-list style="height: 39rem;"></app-bank-account-list>
                            
                            <div class="d-flex justify-content-center align-items-center">
                                    <div class="pb-5">
                                        <h5 class="fw-bold text-center mb-3"> Profit and Loss</h5>
                                        <div class="">
                                            <ngx-charts-bar-vertical
                                              [results]="dataProfit"
                                              [xAxis]="true"
                                              [yAxis]="true"
                                              [showGridLines]="true"
                                              [showXAxisLabel]="true"
                                              [showYAxisLabel]="true"
                                              [xAxisLabel]="'Category'"
                                              [yAxisLabel]="'Value'"
                                              [scheme]="colorSchemeProfit"
                                              class="custom-bar-chart">
                                            </ngx-charts-bar-vertical>
                                          </div>                                      
                                </div>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li *ngFor="let tab of tabs" class="nav-item" role="presentation" (click)="changeTab(tab.id)">
                                    <span class="nav-link" [class.active]="tab.id === tabId"
                                        id="{{ tab.id }}-tab" data-bs-toggle="tab"
                                        role="tab" [attr.aria-controls]="tab.id"
                                        [attr.aria-selected]="tab.id === 'brl'">{{ tab.label }}</span>
                                </li>
                            </ul>
                            <div class="container pb-5">
                                <ngx-charts-line-chart
                                  [results]="data"
                                  [xAxis]="true"
                                  [yAxis]="true"
                                  [scheme]="colorSchemeSingl"
                                  [showGridLines]="true"
                                  [showRefLines]="true"
                                  [showXAxisLabel]="true"
                                  [showYAxisLabel]="true"
                                  [xAxisLabel]="'Month'"
                                  [yAxisLabel]="'Amounts'"
                                  >
                                </ngx-charts-line-chart>
                              </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="row">
                        <!-- Transactions and Filters -->
                        <div class="col-md-12">
                            <div class="card pt-0 border-0 border-start ps-5 pe-3">
                                <app-transactions-list style="height: 25rem;"></app-transactions-list>
                                <div class="d-flex justify-content-center p-5 pb-0 mb-3 bg-white">
                                    <div style="text-align: center;">
                                        <h5 class="card-title fw-bold">Expense Account Overview</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="pieData"
                                            [labels]="showLabels" [doughnut]="false" [legend]="true"
                                            [animations]="true">
                                        </ngx-charts-pie-chart>
                                    </div>

                                </div>
                                <div>
                                    <div class="">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li *ngFor="let tab of tabs" class="nav-item" role="presentation" (click)="changeTab(tab.id)">
                                                <a class="nav-link" [class.active]="tab.id === tabId"
                                                    id="{{ tab.id }}-tab" data-bs-toggle="tab"
                                                    role="tab" [attr.aria-controls]="tab.id"
                                                    [attr.aria-selected]="tab.id === 'brl'">{{ tab.label }}</a>
                                            </li>
                                        </ul>

                                        <!-- Tab Content -->
                                        <div class="tab-content" id="myTabContent">
                                          <div class="container">
                                            <ngx-charts-line-chart
                                              [results]="data"
                                              [xAxis]="true"
                                              [yAxis]="true"
                                              [scheme]="colorSchemeSingl"
                                              [showGridLines]="true"
                                              [showRefLines]="true"
                                              [showXAxisLabel]="true"
                                              [showYAxisLabel]="true"
                                              [xAxisLabel]="'Month'"
                                              [yAxisLabel]="'Amounts'"
                                              >
                                            </ngx-charts-line-chart>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>