.scrollable-list {
    max-height: 460px;
    overflow-y: auto;
  
  }
 
  .scrollable-list::-webkit-scrollbar {
    width: 6px; 
  }
  
  .scrollable-list::-webkit-scrollbar-thumb {
    background-color: #f8f8f8 !important;
    border-radius: 10px !important; 
  }
  
  .scrollable-list::-webkit-scrollbar-thumb:hover {
    background-color: #f1f1f1 !important;
  }
