<div class="container-fluid mt-5 p-4 border rounded bg-white">
  <div class="main-div">
    <div>
      <div class="headings mb-3">
        <h3>Chart of Accounts</h3>
      </div>
      <div class="line">
        <hr>
      </div>
      <div class="d-flex gap-2">
        <button class="primary_button" (click)="addAccount()">Add</button>
        <button class="btn btn-success import-button" routerLink="import_account">Import Account</button>
      </div>
      <div class="container-flex">
        <div class="box">
          <label for="">Account</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isAccountFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" (focus)="isAccountFocus = true" (blur)="isAccountFocus = false" placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">Parrent Account</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isParrentAccountFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" (focus)="isParrentAccountFocus = true" (blur)="isParrentAccountFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">Type</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isTypeFoucus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" (focus)="isTypeFoucus = true" (blur)="isTypeFoucus = false" placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">Detail Type</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isDetailTypeFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" (focus)="isDetailTypeFocus = true" (blur)="isDetailTypeFocus = false" placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">Active</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isStatusFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" (focus)="isStatusFocus = true" (blur)="isStatusFocus = false" placeholder="Select organization">
            <ng-option [value]="'id'">All </ng-option>
            <ng-option [value]="'id'">Yes </ng-option>
            <ng-option [value]="'id'">No </ng-option>
          </ng-select>
        </div>
      </div>

      <div class="table_div mt-5">
        <app-data-table [columns]="columns" [config]="tableConfig" [dataSet]="applicationList"></app-data-table>

      </div>
    </div>
  </div>

</div>