<div class="container-fluid mt-5 p-4 border rounded bg-white">

  <div class="tabs mb-5">
    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="changeActiveMenue('payment')" [ngClass]="{'active': activeTab === 'payment'}">
        <a class="nav-link" aria-current="page">Payment <span class="tab_values">(259)</span></a>
      </li>
      <li class="nav-item" (click)="changeActiveMenue('invoice')" [ngClass]="{'active': activeTab === 'invoice'}">
        <a class="nav-link">Invoice <span class="tab_values">(465)</span></a>
      </li>
      <li class="nav-item" (click)="changeActiveMenue('salesordersreturn')"
        [ngClass]="{'active': activeTab === 'salesordersreturn'}">
        <a class="nav-link">Sales Order Return <span class="tab_values">(0)</span></a>
      </li>
      <li class="nav-item" (click)="changeActiveMenue('salesrefund')"
        [ngClass]="{'active': activeTab === 'salesrefund'}">
        <a class="nav-link">Sales Refund <span class="tab_values">(1)</span></a>
      </li>
    </ul>
  </div>

  <div class="main-div">

    <div *ngIf="activeTab === 'payment'">
      <div class="container-flex">
        <div class="box">
          <label for="">Invoice</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isInvoiceFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isInvoiceFocus = true" (blur)="isInvoiceFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">Payment Mode</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isPaymentmodeFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isPaymentmodeFocus = true" (blur)="isPaymentmodeFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">Status</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isStatusFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isStatusFocus = true" (blur)="isStatusFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
            <label for="">From Date</label>
            <div class="input-group w-auto mt-2">
              <input type="text" placeholder="From date" class="form-control" bsDatepicker
                [bsConfig]="{ isAnimated: true, containerClass: 'customClass' }" id="From date">
              <div class="input-group-append">
                <span class="input-group-text h-100 border-start-0 rounded-start-0 bg-transparent" (click)="openDatepicker()">
                  <!-- Calendar SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar"
                    viewBox="0 0 16 16">
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H1a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                  </svg>
                </span>
              </div>
            </div>
        </div>
        <div class="box">
          <label for="">To Date</label>
            <div class="input-group w-auto mt-2">
              <input #toDate="bsDatepicker" type="text" placeholder="From date" class="form-control" bsDatepicker
                [bsConfig]="{ isAnimated: true, containerClass: 'customClass' }" id="to-date">
              <div class="input-group-append">
                <span class="input-group-text h-100 border-start-0 rounded-start-0 bg-transparent" (click)="toDate.show();">
                  <!-- Calendar SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar"
                    viewBox="0 0 16 16">
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H1a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                  </svg>
                </span>
              </div>
            </div>
        </div>
      </div>

      <div class="table_div mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Parrent Account</th>
              <th scope="col">Type</th>
              <th scope="col">Detail Type</th>
              <th scope="col">Primary Ballance</th>
              <th scope="col">Bank Balance</th>
              <th scope="col">Active</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div *ngIf="activeTab === 'invoice'">
      <div class="container-flex">
        <div class="box">
          <label for="">Status</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isStatusFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isStatusFocus = true" (blur)="isStatusFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">From Date</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isFromdateFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isFromdateFocus = true" (blur)="isFromdateFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">To Date</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isToDateFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isToDateFocus = true" (blur)="isToDateFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
      </div>

      <div class="table_div mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Parrent Account</th>
              <th scope="col">Type</th>
              <th scope="col">Detail Type</th>
              <th scope="col">Primary Ballance</th>
              <th scope="col">Bank Balance</th>
              <th scope="col">Active</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div *ngIf="activeTab === 'salesordersreturn'">
      <div class="container-flex">
        <div class="box">
          <label for="">Status</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isStatusFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isStatusFocus = true" (blur)="isStatusFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">From Date</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isFromdateFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isFromdateFocus = true" (blur)="isFromdateFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">To Date</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isToDateFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isToDateFocus = true" (blur)="isToDateFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
      </div>

      <div class="table_div mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Parrent Account</th>
              <th scope="col">Type</th>
              <th scope="col">Detail Type</th>
              <th scope="col">Primary Ballance</th>
              <th scope="col">Bank Balance</th>
              <th scope="col">Active</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div *ngIf="activeTab === 'salesrefund'">
      <div class="container-flex">
        <div class="box">
          <label for="">Status</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isStatusFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isStatusFocus = true" (blur)="isStatusFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">From Date</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isFromdateFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isFromdateFocus = true" (blur)="isFromdateFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
        <div class="box">
          <label for="">To Date</label>
          <ng-select class="" [multiple]="false" [ngClass]="{
        'custom-select-error': isControlHasError('organization', 'required'),
        'custom-select': !isControlHasError('organization', 'required'),
        'ng-select-focused': isToDateFocus === true,
        'ng-select-error': isControlHasError('organization', 'required')
      }" formControlName="organization" (focus)="isToDateFocus = true" (blur)="isToDateFocus = false"
            placeholder="Select organization">
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
            <ng-option [value]="'id'">organization.name </ng-option>
          </ng-select>
        </div>
      </div>

      <div class="table_div mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Parrent Account</th>
              <th scope="col">Type</th>
              <th scope="col">Detail Type</th>
              <th scope="col">Primary Ballance</th>
              <th scope="col">Bank Balance</th>
              <th scope="col">Active</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>mdo</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
              </td>
              <td>mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>