<div class="col-md-12 col-lg-12 mt-5 main-content">
  <div class="row d-flex align-items-center">
    <div class="col-md-3 mb-3">
      <label for="accountsSelect" class="form-label">Accounts</label>

      <ng-select
        [items]="filteredAccounts"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedAccounts"
        [multiple]="true"
        [groupBy]="'category'"
        placeholder="None selected"
        [closeOnSelect]="false">
        <ng-template ng-option-tmp let-item="item">
          <div class="custom-option">
            <i class="fas fa-check custom-icon" *ngIf="selectedAccounts.includes(item.id)"></i>
            {{ item.name }} <small>{{ item.category }}</small>
          </div>
        </ng-template>
        
        <ng-template ng-header-tmp>
          <input type="text" class="form-control mt-2" placeholder="Search..." [(ngModel)]="searchItems" (ngModelChange)="filterAccounts()" />

          <hr class="p-0" />
          <div class="ng-select-header d-flex justify-content-center">
            <button type="button" class="btn btn-primary" (click)="selectAllAccounts()">Select All</button>
            <button type="button" class="btn btn-secondary" (click)="deselectAllAccounts()">Deselect All</button>
          </div>
        </ng-template>
      </ng-select>
    </div>
    
    <div class="col-md-3">
      <div class="mb-3">
        <label for="statusSelect" class="form-label">Sub Account</label>
        <ng-select
          [items]="subAccounts"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedSubAccounts"
          [multiple]="true"
          [groupBy]="'category'"
          placeholder="None selected"
          [closeOnSelect]="false">
          <ng-template ng-option-tmp let-item="item">
            <div class="custom-option">
              <i class="fas fa-check custom-icon" *ngIf="selectedSubAccounts.includes(item.id)"></i>
              {{ item.name }}
            </div>
          </ng-template>
          
          <ng-template ng-header-tmp>
            <input type="text" class="form-control mt-2" placeholder="Search..." />
            <hr class="p-0" />
            <div class="ng-select-header d-flex justify-content-center">
              <button type="button" class="btn btn-primary" (click)="selectAllSubAccounts()">Select All</button>
              <button type="button" class="btn btn-secondary" (click)="deselectAllSubAccounts()">Deselect All</button>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <label for="statusSelect" class="form-label">Type</label>
        <ng-select
          [items]="subAccounts"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedSubAccounts"
          [multiple]="true"
          [groupBy]="'category'"
          placeholder="None selected"
          [closeOnSelect]="false">

          <ng-template ng-option-tmp let-item="item">
            <div class="custom-option">
              <i class="fas fa-check custom-icon" *ngIf="selectedSubAccounts.includes(item.id)"></i>
              {{ item.name }}
            </div>
          </ng-template>
          
          <ng-template ng-header-tmp>
            <input type="text" class="form-control mt-2" placeholder="Search..." />
            <hr class="p-0" />
            <div class="ng-select-header d-flex justify-content-center">
              <button type="button" class="btn btn-primary" (click)="selectAllSubAccounts()">Select All</button>
              <button type="button" class="btn btn-secondary" (click)="deselectAllSubAccounts()">Deselect All</button>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <label for="statusSelect" class="form-label">Detail Type</label>
        <ng-select
          [items]="subAccounts"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedSubAccounts"
          [multiple]="true"
          [groupBy]="'category'"
          placeholder="None selected"
          [closeOnSelect]="false">

          <ng-template ng-option-tmp let-item="item">
            <div class="custom-option">
              <i class="fas fa-check custom-icon" *ngIf="selectedSubAccounts.includes(item.id)"></i>
              {{ item.name }}
            </div>
          </ng-template>
          
          <ng-template ng-header-tmp>
            <input type="text" class="form-control mt-2" placeholder="Search..." />
            <hr class="p-0" />
            <div class="ng-select-header d-flex justify-content-center">
              <button type="button" class="btn btn-primary" (click)="selectAllSubAccounts()">Select All</button>
              <button type="button" class="btn btn-secondary" (click)="deselectAllSubAccounts()">Deselect All</button>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>
</div>

  <div class="row">
    <div class="col-md-3">
      <div class="mb-3">
        <label for="fromDate" class="form-label">From date</label>
        <input type="date" id="fromDate" class="form-control" value="2024-08-01">
      </div>
    </div>
    <div class="col-md-3">
      <div class="mb-3">
        <label for="toDate" class="form-label">To date</label>
        <input type="date" id="toDate" class="form-control" value="2024-08-01">
      </div>
    </div>
  </div>

  <app-data-table></app-data-table>
</div>
