<div class="main-wrapper p-4 bg-white rounded border">
  <div class="main-content">
    <div class="button">
      <button class="primary_button import_button"><a download="Sample File Import"
          href="../../../../assets/files/Sample_import_account_file_en.xlsx">Download Template</a></button>
      <div class="line mt-4">
        <hr>
      </div>
    </div>

    <div class="mt-4">
      <ol class="list">
        <li>Columns with the * symbol must be filled; Column Type, Sub Type, Sub Account can be filled with ID or Name;
        </li>
        <li>Format the excel file (type: text) before entering values.</li>
      </ol>
    </div>

    <div class="table mt-4">
      <table class="table border template-table">
        <thead>
          <th class="border req_field">Account Type</th>
          <th class="border req_field">Level 1</th>
          <th class="border">Level 2</th>
          <th class="border">Level 3</th>
          <th class="border req_field">Name</th>
          <th class="border req_field">Number</th>
          <th class="border req_field">Description</th>
        </thead>
        <tbody>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-5 mb-4">
      <hr>
    </div>

    <div class="custom-inpu">
      <label for="" class="req_field">Select Excel File</label>
      <div class="button mt-2 border rounded w-50 py-2 px-3">
        <input #file type="file" name="" id="" (change)="isImportButtonDisabled = false; importFile(file)" accept=".xlsx, .xls">
      </div>
    </div>

    <div class="button mt-4">
      <button class="primary_button" [ngClass]="{'button_disabled': isImportButtonDisabled || !isFileSelected}"
        [disabled]="isImportButtonDisabled || !isFileSelected" (click)="submittDataToServer()">Import</button>
    </div>
  </div>
</div>

<div class="main-wrapper p-4 bg-white rounded border mt-4" *ngIf="isFileSelected">
  <div class="main-content">
    <h4>Selected Data</h4>
    <div class="table-for-imports mt-4">
      <table class="table border">
        <thead>
          <th class="border">Account Type</th>
          <th class="border">Level 1</th>
          <th class="border">Level 2</th>
          <th class="border">Level 3</th>
          <th class="border">Name</th>
          <th class="border">Number</th>
          <th class="border">Description</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of chartOfAccountMultipleData">
            <td>{{item.account_type? item.account_type: 'N/A'}}</td>
            <td>{{item.level_one? item.level_one: 'N/A'}}</td>
            <td>{{item.level_two? item.level_two: 'N/A'}}</td>
            <td>{{item.level_three? item.level_three: 'N/A'}}</td>
            <td>{{item.name? item.name: 'N/A'}}</td>
            <td>{{item.number? item.number: 'N/A'}}</td>
            <td>{{item.description? item.description: 'N/A'}}</td>
          </tr>
          <tr *ngIf="isImportedFileEmpty">
            <td colspan="7" class="text-center fs-14px">File Is Empty! Please chose a valid file.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>