.list {
    list-style: decimal;
    color: red;
    font-size: 14px;
}
.import_button{
    a{
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration-line: none;
    }
}

.table {
    thead {

        th,
        .th {
            font-size: 14px;
            font-weight: 600;
            color: #646363;
        }
    }
}
.template-table{
    th{
        text-align: center;
    }
    tr{
        td{
            text-align: center;
        }  
    }
}

.req_field::before {
    content: '*';
    color: red;
    margin-right: 4px;
    font-size: 18px;
}

input[type="file"]{
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #f1f5f9;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    border: 1px solid #222;
    transition: background-color 0.3s ease;
  }
  input[type="file"]::-webkit-file-upload-button:hover{
    background-color: #6f63bd;
    border: 1px solid #6f63bd;
    color: #fff;
  }

  .button_disabled{
    cursor: not-allowed;
  }
  .table-for-imports{
    table{
        th{
            background-color: #f1f5f9;
        }
    }
}
::ng-deep .table-for-imports table tr:hover td{
    background-color:  #f1f5f9 !important;
}