.cancel_btn {
  border: 1px solid rgb(208, 219, 229) !important;
  color: rgb(132, 146, 166);
  padding: 0px 16px;
  border-radius: 6px;
  height: 40px;
  background: white;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}
.cancel_btn:hover{
background-color: rgb(236, 234, 234);
}
.primary_button {
  background-color: #6F61CF;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  height: 40px;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
  font-weight: 600;
}

.primary_button:hover {
  background-color: #5c4eb9;
}
.primary_button:focus-visible{
  outline: 0 !important;
}
