input#flexSwitchCheckDefault {
    margin-left: 5px;
}

.form-check.form-switch.border-start {
    margin-right: -30px;
}
.search_input{
    input{
        height: 45px !important;
        padding: 6px 10px !important;
        background-color: #fff;
        border-radius: 10px;
        // width: 300px;
        border: 1px solid #dcdcdc;
        outline: none !important;
        box-shadow: none !important
    };

    input:focus{
        border-color: rgb(2, 132, 199);
        box-shadow: rgba(2, 132, 199, 0.1) 0px 0px 0px 3px !important;        
    }
    span{
        position: relative;
        /* display: flex; */
        left: -30px;
        top: 8px;
    }
    }

    hr{
        border: 1px solid rgb(191, 191, 191);
    }
    input#CloseBooked {
        height: 25px;
        width: 56px;
        margin-left: 10px; 
      }
      input#flexSwitchCheckDefault {
        width: 56px;
        height: 23px;
        margin-left: 10px;
      }