.box {
    border-radius: 5px;
    margin-bottom: 15px;
    flex: 1 1 300px;
    max-width: 100%;
    
  }
  
  .container-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    flex: 1 1 300px;
    max-width: 350px;
    label{
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  .common_box{
    padding: 24px;
  }
  .table{
    thead{
        th{
            border: 1px solid #ccc;
            background-color: #F8FAFC;
        }
    }
  }
  .nav-item{
    cursor: pointer;
    a{
      border: none !important;
      color: #111;
      font-size: 14px;
      font-weight: 600;
    .tab_values{
      color: red !important;
    }
    } 
    
    a:hover{
      color:  #6f63bd;
    }
  }
  
  .active{
    border-bottom: 3px solid  #6f63bd;
    a{
      color:  #6f63bd;
      font-weight: 600;
    }
  }
  