.box {
    border-radius: 5px;
    margin-bottom: 15px;
    flex: 1 1 300px; 
    max-width: 100%;
    
  }

  .container-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    flex: 1 1 300px;
    max-width: 350px; 
    label{
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  .common_box{
    padding: 24px;
  }
  .table{
    thead{
        th{
            border: 1px solid #ccc;
            background-color: #F8FAFC;
        }
    }
  }
  