<div class="sidebar-main d-flex flex-column justify-content-between pb-3" [class.close_sidebar]="isSidebarVisible">
    <div class="sidbar-logo-navigations">
        <div class="logo mt-1">
            <img class="ms-4" src="../../../../assets/logos/logoiis.svg" alt="">
        </div>
        <div class="navigations">
            <!-- <div class="fs-12px ms-3 semi-bold-font menu-text mt-2">MENU</div> -->
            <ul class="pt-2">
                <li (click)="toggleMenu('dashboard')" [ngClass]="{'active': activeMenu === 'dashboard'}"
                    class="d-flex align-items-center sidebar_svg" routerLink="dashboard" routerLinkActive="active"><span
                        class="d-flex align-items-center sidebar_svg home"></span><a>Dashboard</a></li>

                        <li (click)="toggleMenu('organization')" [ngClass]="{'active': activeMenu === 'organization'}"
                        class="d-flex align-items-center sidebar_svg" routerLink="organization" routerLinkActive="active"><span
                            class="d-flex align-items-center sidebar_svg home"></span><a>Organization</a></li>

                <li (click)="toggleMenu('banking')" [ngClass]="{'active': activeMenu === 'banking'}"
                    class="d-flex align-items-center sidebar_svg" routerLink="banking" routerLinkActive="active">
                    <span class="d-flex align-items-center sidebar_svg Icon"></span><a>Banking</a>
                </li>

                <li [ngClass]="{'active': activeMenu === 'transaction'}" class="d-flex align-items-center sidebar_svg"
                    (click)="toggleMenu('transaction')" routerLink="transaction">
                    <!-- Main link content -->
                    <span class="d-flex align-items-center sidebar_svg check-verified"></span>
                    <a>Transactions</a>

                    <!-- Arrow Icon -->
                    <span class="arrow-icon" [ngClass]="{'open': activeMenu === 'transaction'}">
                        &#9654; <!-- Arrow symbol, rotate on open -->
                    </span>
                </li>

                <ul [ngClass]="activeMenu === 'transaction' ? 'sub-menu sublink-open' : 'sub-menu sublink-close'"
                    class="sub-menu">
                    <li class="nav-item position-relative">
                        <a routerLink="transaction/sale" routerLinkActive="sublink-active">Sale</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a routerLink="transaction/expenses" routerLinkActive="sublink-active">Expenses</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a routerLink="transaction/payslips" routerLinkActive="sublink-active">Payslips</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a routerLink="transaction/purchase" routerLinkActive="sublink-active">Purchase</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a routerLink="transaction/inventory" routerLinkActive="sublink-active">Inventory</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a routerLink="transaction/manufacturing" routerLinkActive="sublink-active">Manufacturing</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a routerLink="transaction/fixed-equipment" routerLinkActive="sublink-active">Fixed
                            equipment</a>
                    </li>
                </ul>


                <li (click)="toggleMenu('Register')" [ngClass]="{'active': activeMenu === 'Register'}"  class="d-flex align-items-center sidebar_svg" routerLink="register"  routerLinkActive="active" >
                    <span class="d-flex align-items-center sidebar_svg check-verified"></span><a>Register</a>
                </li>

                <li (click)="toggleMenu('bills')" [ngClass]="{'active': activeMenu === 'bills'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="bills">
                    <span class="d-flex align-items-center sidebar_svg monitor"></span><a>Bills</a>
                </li>

                <li (click)="toggleMenu('checks')" [ngClass]="{'active': activeMenu === 'checks'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="checks"><span
                        class="d-flex align-items-center sidebar_svg iconone"></span><a>Checks</a></li>


                <li (click)="toggleMenu('journal')" [ngClass]="{'active': activeMenu === 'journal'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="journal-entry"><span
                        class="d-flex align-items-center sidebar_svg iconone"></span><a>Journal Entry</a>
                        <span class="arrow-icon" [ngClass]="{'open': activeMenu === 'journal'}">
                            &#9654;
                        </span>
                    </li>
                    <ul [ngClass]="activeMenu === 'journal' ? 'sub-menu sublink-open' : 'sub-menu sublink-close'"
                        class="sub-menu">
                        <li class="nav-item position-relative">
                            <a routerLink="journal-entry/journal-voucher" routerLinkActive="sublink-active">Journal Voucher</a>
                        </li>
                        </ul>


                <li (click)="toggleMenu('convert')" [ngClass]="{'active': activeMenu === 'convert'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="convert">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Convert</a>
                </li>
                <li (click)="toggleMenu('charts-of-account')" [ngClass]="{'active': activeMenu === 'charts-of-account'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active"
                    routerLink="charts-of-account">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Chart of Accounts</a>
                </li>
                <li (click)="toggleMenu('reconcile')" [ngClass]="{'active': activeMenu === 'reconcile'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="reconcile">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Reconcile</a>
                </li>
                <li (click)="toggleMenu('budget')" [ngClass]="{'active': activeMenu === 'budget'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="budget">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Budget</a>
                </li>
                <li (click)="toggleMenu('reports')" [ngClass]="{'active': activeMenu === 'reports'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="reports">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Reports</a>
                </li>
                <li (click)="toggleMenu('setting')" [ngClass]="{'active': activeMenu === 'setting'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="setting">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Settings</a>
                </li>

                <ul [ngClass]="activeMenu === 'setting' ? 'sub-menu sublink-open' : 'sub-menu sublink-close'"
                    class="sub-menu">

                    <!-- <li class="nav-item position-relative">
                        <a routerLink="" routerLinkActive="sublink-active">Permissions</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a routerLink="" routerLinkActive="sublink-active">Account settings
                            equipment</a>
                    </li> -->
                </ul>
            </ul>
        </div>
    </div>

    <div class="logout-section-main-div">
        <div class="logout-section">
            <!-- <hr class="text-white"> -->
            <div class="text-white d-flex justify-content-between">
                <div class="d-flex">
                    <div class="user-img">
                        <img class="rounded-circle" [src]="" alt="Profile Picture">
                    </div>
                    <div class="ms-2">
                        <div class="fs-14px fw-700">Username</div>
                        <div class="role fs-12px">Role</div>
                    </div>
                </div>
                <div class="me-4 mt-2" (click)="logout()"><span class="cursor-pointer logout-icon"></span></div>
            </div>
        </div>
    </div>
</div>
