<div class="sidebar-main d-flex flex-column justify-content-between pb-3" [class.close_sidebar]="isSidebarVisible">
    <div class="sidbar-logo-navigations">
        <div class="logo mt-1">
            <img class="ms-4" src="../../../../assets/logos/logoiis.svg" alt="">
        </div>
        <div class="navigations">
            <!-- <div class="fs-12px ms-3 semi-bold-font menu-text mt-2">MENU</div> -->
            <ul class="pt-2">
                <li (click)="toggleMenu('dashboard')" [ngClass]="{'active': activeMenu === 'dashboard'}"
                    class="d-flex align-items-center sidebar_svg" routerLink="dashboard" routerLinkActive="active"><span
                        class="d-flex align-items-center sidebar_svg dashboard-icon"></span><a>Dashboard</a></li>

                        <li (click)="toggleMenu('organization')" [ngClass]="{'active': activeMenu === 'organization'}"
                        class="d-flex align-items-center sidebar_svg" routerLink="organization" routerLinkActive="active"><span
                            class="d-flex align-items-center sidebar_svg home"></span><a>Organization</a></li>

                <li (click)="toggleMenu('banking')" [ngClass]="{'active': activeMenu === 'banking'}"
                    class="d-flex align-items-center sidebar_svg" routerLink="banking" routerLinkActive="active">
                    <span class="d-flex align-items-center sidebar_svg Icon banking-icon"></span><a>Banking</a>
                </li>

                <li [ngClass]="{'active': activeMenu === 'transaction'}" class="d-flex align-items-center justify-content-between sidebar_svg"
                    (click)="toggleMenu('transaction')" routerLink="transaction">
                   <div class="d-flex">
                    <span class="d-flex align-items-center sidebar_svg transactions-icon"></span>
                    <a>Transactions</a>
                   </div>

                    <span  class="arrow-icon chevron-right-icon" [ngClass]="{'open': activeMenu === 'transaction'}"></span>
                </li>

                <ul [ngClass]="activeMenu === 'transaction' ? 'sub-menu sublink-open' : 'sub-menu sublink-close'"
                    class="sub-menu">
                    <li class="nav-item position-relative d-flex" routerLink="transaction/sale" routerLinkActive="sublink-active">
                        <span class="sale-icon sidebar_svg"></span>
                        <a>Sale</a>
                    </li>
                    <li class="nav-item position-relative d-flex" routerLink="transaction/expenses" routerLinkActive="sublink-active">
                        <span class="expense-icon sidebar_svg"></span>
                        <a >Expenses</a>
                    </li>
                    <li class="nav-item position-relative d-flex"  routerLink="transaction/payslips" routerLinkActive="sublink-active">
                        <span class="payslips-icon sidebar_svg"></span>
                        <a>Payslips</a>
                    </li>
                    <li class="nav-item position-relative d-flex"  routerLink="transaction/purchase" routerLinkActive="sublink-active">
                        <span class="purchase-icon sidebar_svg"></span>
                        <a>Purchase</a>
                    </li>
                    <li class="nav-item position-relative d-flex"  routerLink="transaction/inventory" routerLinkActive="sublink-active">
                        <span class="inventory-icon sidebar_svg"></span>
                        <a>Inventory</a>
                    </li>
                    <li class="nav-item position-relative d-flex"  routerLink="transaction/manufacturing" routerLinkActive="sublink-active">
                        <span class="manufacturing-icon sidebar_svg"></span>
                        <a>Manufacturing</a>
                    </li>
                    <li class="nav-item position-relative d-flex"  routerLink="transaction/fixed-equipment" routerLinkActive="sublink-active">
                        <span class="fixed-equipment-icon sidebar_svg"></span>
                        <a>Fixed
                            equipment</a>
                    </li>
                </ul>


                <li (click)="toggleMenu('Register')" [ngClass]="{'active': activeMenu === 'Register'}"  class="d-flex align-items-center sidebar_svg" routerLink="register"  routerLinkActive="active" >
                    <span class="d-flex align-items-center sidebar_svg register-icon"></span><a>Register</a>
                </li>

                <!-- <li (click)="toggleMenu('bills')" [ngClass]="{'active': activeMenu === 'bills'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="bills">
                    <span class="d-flex align-items-center sidebar_svg monitor"></span><a>Bills</a>
                </li>

                <li (click)="toggleMenu('checks')" [ngClass]="{'active': activeMenu === 'checks'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="checks"><span
                        class="d-flex align-items-center sidebar_svg iconone"></span><a>Checks</a></li> -->


                <li (click)="toggleMenu('journal')" [ngClass]="{'active': activeMenu === 'journal'}"
                    class="d-flex align-items-center justify-content-between sidebar_svg" routerLinkActive="active" routerLink="journal-entry">
                    <div class="d-flex">
                        <span
                            class="d-flex align-items-center sidebar_svg journal-entry-icon"></span><a>Journal Entry</a>
                    </div>
                        <span  class="arrow-icon chevron-right-icon" [ngClass]="{'open':activeMenu === 'journal'}"></span>
                    </li>
                    <ul [ngClass]="activeMenu === 'journal' ? 'sub-menu sublink-open' : 'sub-menu sublink-close'"
                        class="sub-menu">
                        <li class="nav-item position-relative d-flex" routerLink="journal-entry/journal-voucher" routerLinkActive="sublink-active">
                            <span class="journal-voucher-icon sidebar_svg"></span>
                            <a>Journal Voucher</a>
                        </li>
                        </ul>


                <!-- <li (click)="toggleMenu('convert')" [ngClass]="{'active': activeMenu === 'convert'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="convert">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Convert</a>
                </li> -->
                <li (click)="toggleMenu('charts-of-account')" [ngClass]="{'active': activeMenu === 'charts-of-account'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active"
                    routerLink="charts-of-account">
                    <span class="d-flex align-items-center sidebar_svg chart-of-account-icon "></span><a>Chart of Accounts</a>
                </li>
                <!-- <li (click)="toggleMenu('reconcile')" [ngClass]="{'active': activeMenu === 'reconcile'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="reconcile">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Reconcile</a>
                </li>
                <li (click)="toggleMenu('budget')" [ngClass]="{'active': activeMenu === 'budget'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="budget">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Budget</a>
                </li> -->
                <li (click)="toggleMenu('reports')" [ngClass]="{'active': activeMenu === 'reports'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="reports">
                    <span class="d-flex align-items-center sidebar_svg reports-icon "></span><a>Reports</a>
                </li>
                <ul [ngClass]="activeMenu === 'reports' ? 'sub-menu sublink-open' : 'sub-menu sublink-close'"
                class="sub-menu">
                <li class="nav-item position-relative d-flex" routerLink="reports/balancesheet" routerLinkActive="sublink-active">
                    <span class="sale-icon sidebar_svg"></span>
                    <a>Balance Sheet</a>
                </li>
                <li class="nav-item position-relative d-flex" routerLink="reports/customerSummary" routerLinkActive="sublink-active">
                    <span class="expense-icon sidebar_svg"></span>
                    <a>Customer Summary</a>
                </li>
                <li class="nav-item position-relative d-flex"  routerLink="reports/profitnloss" routerLinkActive="sublink-active">
                    <span class="payslips-icon sidebar_svg"></span>
                    <a>Profit Loss</a>
                </li>
                <li class="nav-item position-relative d-flex"  routerLink="reports/cashflows" routerLinkActive="sublink-active">
                    <span class="purchase-icon sidebar_svg"></span>
                    <a>Statement of CashFlow</a>
                </li>
                <li class="nav-item position-relative d-flex"  routerLink="reports/TreatBalance" routerLinkActive="sublink-active">
                    <span class="inventory-icon sidebar_svg"></span>
                    <a>Treat Balance</a>
                </li>
                <li class="nav-item position-relative d-flex"  routerLink="reports/generalleisure" routerLinkActive="sublink-active">
                    <span class="manufacturing-icon sidebar_svg"></span>
                    <a>General leisure</a>
                </li>
                <li class="nav-item position-relative d-flex"  routerLink="reports/Reconcilation" routerLinkActive="sublink-active">
                    <span class="fixed-equipment-icon sidebar_svg"></span>
                    <a>Reconcilation Detail</a>
                </li>
                <li class="nav-item position-relative d-flex"  routerLink="reports/BudegtOverview" routerLinkActive="sublink-active">
                  <span class="manufacturing-icon sidebar_svg"></span>
                  <a>Budget Overview </a>
              </li>
             <li class="nav-item position-relative d-flex"  routerLink="reports/taxdetails" routerLinkActive="sublink-active">
                  <span class="fixed-equipment-icon sidebar_svg"></span>
                  <a>Tax Detail report</a>
              </li>
              <li class="nav-item position-relative d-flex"  routerLink="reports/taxSummary" routerLinkActive="sublink-active">
                <span class="fixed-equipment-icon sidebar_svg"></span>
                <a>Tax Summary report</a>
            </li>
            <li class="nav-item position-relative d-flex"  routerLink="reports/CheckDetail" routerLinkActive="sublink-active">
              <span class="fixed-equipment-icon sidebar_svg"></span>
              <a>Check Details</a>
          </li>

            </ul>
                <li (click)="toggleMenu('setting')" [ngClass]="{'active': activeMenu === 'setting'}"
                    class="d-flex align-items-center sidebar_svg" routerLinkActive="active" routerLink="setting">
                    <span class="d-flex align-items-center sidebar_svg setting-icon "></span><a>Settings</a>
                </li>

                <ul [ngClass]="activeMenu === 'setting' ? 'sub-menu sublink-open' : 'sub-menu sublink-close'"
                    class="sub-menu">

                    <!-- <li class="nav-item position-relative">
                        <a routerLink="" routerLinkActive="sublink-active">Permissions</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a routerLink="" routerLinkActive="sublink-active">Account settings
                            equipment</a>
                    </li> -->
                </ul>
            </ul>
        </div>
    </div>

    <!-- <div class="logout-section-main-div">
        <div class="logout-section">
            <div class="text-white d-flex justify-content-between">
                <div class="d-flex">
                    <div class="user-img">
                        <img class="rounded-circle" [src]="" alt="Profile Picture">
                    </div>
                    <div class="ms-2">
                        <div class="fs-14px fw-700">{{localStoreService.getItem('user')?.email}}</div>
                        <div class="role fs-12px">Role</div>
                    </div>
                </div>
                <div class="me-4 mt-2" (click)="logout()"><span class="cursor-pointer logout-icon"></span></div>
            </div>
        </div>
    </div> -->
</div>
