<div class="main-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">
            Bank Accounts
          </button>
          <button type="button" class="list-group-item list-group-item-action">Bank Feeds</button>

        </div>
      </div>
      <div class="col-md-8 offset-md-1 bg-white p-2 rounded mt-3 mt-md-0">
        <div class="table-div common_box">
          <div><button class="primary_button mb-4">Add Bank Account</button></div>
          <div class="d-block mb-3">
            <div><span>Actives</span></div>
            <select class="custom-select p-2 rounded mb-3">
              <option selected>Yes</option>
              <option value="1">No</option>
            </select>
          </div>
          <div class="d-flex gap-3">
            <select class="custom-select p-2 rounded mb-3">
              <option selected>25</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <span>
              <div class="export_button">
                <button type="button" class="button d-flex p-0 bg-white overflow-hidden rounded border">
                  <span class="button__text">Export</span>
                  <span class="button__icon border-start">
                    <span> &#x21bb;</span>
                  </span>
                </button>
              </div>
            </span>
          </div>

          <app-data-table [columns]="columns" [config]="tableConfig" [dataSet]="applicationList"
          [searchTerm]="searchTerm" ></app-data-table>
          <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Parrent Account</th>
                <th scope="col">Type</th>
                <th scope="col">Detail Type</th>
                <th scope="col">Primary Ballance</th>
                <th scope="col">Bank Balance</th>
                <th scope="col">Active</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                  </div>
                </td>
                <td>mdo</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                  </div>
                </td>
                <td>mdo</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                  </div>
                </td>
                <td>mdo</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                  </div>
                </td>
                <td>mdo</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                  </div>
                </td>
                <td>mdo</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </div>
</div>
