<!-- voucher.component.html -->
<div class="modal-header">
    <h4 class="modal-title">Item mapping setup</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="row ">
        <div class="row mb-4">
            <div class="col-12">
                <label for=""><span class="text-danger mx-1">*</span>Item</label>
               <ng-select>
                <ng-option> class</ng-option>
               </ng-select>

            </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <label for="">Inventory asset account</label>
            <ng-select>
                <ng-option> class</ng-option>
               </ng-select>

        </div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <label for="">Income account</label>
        <ng-select>
            <ng-option> class</ng-option>
           </ng-select>

    </div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <label for="">Expense account</label>
        <ng-select>
            <ng-option> class</ng-option>
           </ng-select>

    </div>
</div>
</div>
</div>
<div class="modal-footer ">
    <button type="button" class="btn btn-light " (click)="close()"><i class="bi bi-x"></i> Close</button>
    <button type="button" class="btn btn-primary"><img src="" alt=""><i class="bi bi-check2-circle"></i> Save </button>
</div>