input#flexSwitchCheckDefault {
    margin-left: 5px;
}

.form-check.form-switch.border-start {
    margin-right: -30px;
}
input#CloseBooked {
    height: 25px;
    width: 56px;
    margin-left: 10px; 
  }
  input#flexSwitchCheckDefault {
    width: 56px;
    height: 23px;
    margin-left: 10px;
  }
  