
<div class="main-wrapper">
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
  <div class="list-group">
    <div>
      <button
        type="button"
        class="list-group-item list-group-item-action"
        [class.active]="selectedView === 'bankAccounts'"
        (click)="showBankAccounts()">
       General
      </button>

      <button
        type="button"
        class="list-group-item list-group-item-action"
        [class.active]="selectedView === 'bankFeeds'"
        (click)="showBankFeeds()">
        Bank Feeds
      </button>
    </div>
  </div>
  </div>
  <div class="col-md-9  bg-white p-2 rounded mt-3 mt-md-0">
  <div>
    <ng-container *ngIf="selectedView === 'general'">
      <app-General></app-General>

    </ng-container>

    <ng-container *ngIf="selectedView === 'bankFeeds'">
      <h1>permission settings</h1>
      <!-- <app-banking-feed></app-banking-feed> -->
    </ng-container>
  </div>
  </div>

  </div>
  </div>
  </div>
